<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @template.image %>
</p>

<p>
  <strong>Rectangle:</strong>
  <%= @template.rectangle %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
